:root {
  --white: #fff;
  --blue: #15C3D6;

  --background: #ebf2f5;

  --blue-grd: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--white);
  background: var(--background);
}

body, input, button, textarea {
  font: 600 1.2rem Nunito;
}